<a href="https://colab.research.google.com/github/7854dmswjd/Python/blob/main/u25_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Unit 25. 딕셔너리 응용

## 25.1 딕셔너리 조작

In [ ]:
 x = {'a':10, 'b':20, 'c':30, 'd':40}
 y = x.setdefault('e',100)
 x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 100}

In [ ]:
 x = {'a':10, 'b':20, 'c':30, 'd':40}
 x.update(a=90)
 x

{'a': 90, 'b': 20, 'c': 30, 'd': 40}

In [ ]:
 x = {'a':10, 'b':20, 'c':30, 'd':40}
 x['e']=100
 x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 100}

### 키 -값 쌍 모두 가져오기 (items(),keys()가 주로 쓰인다.)

In [ ]:
 x = {'a':10, 'b':20, 'c':30, 'd':40}
 y = x.items()          # 리스트 안에 튜플로 나옴

In [ ]:
x.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [ ]:
x.values()

dict_values([10, 20, 30, 40])

In [ ]:
dict(zip(x.values(), x.keys())      # key와 value 바꿀 때

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

## 25.2 반복문

In [ ]:
x = {'a':10, 'b':20, 'c':30, 'd':40}
for key, values in x.items():
  print([key,values],end ='')

['a', 10]['b', 20]['c', 30]['d', 40]

In [ ]:
for key in x.keys():
  print(f'{key}:{x[key]}')

a:10
b:20
c:30
d:40

In [ ]:
for i ,(k,v) in enumerate(x.items()):
  print(i,k,v)

0 a 10
1 b 20
2 c 30
3 d 40

## 25.3 딕셔너리 표현식

In [ ]:
x = {'a':10, 'b':20, 'c':30, 'd':40}
x2 = {key: value*value for key, value in x.items()}
x2

{'a': 100, 'b': 400, 'c': 900, 'd': 1600}

In [ ]:
x2 ={}
for key, value in x.items():
  x2[key] = value * value
x2

{'a': 100, 'b': 400, 'c': 900, 'd': 1600}

## 25.4 딕셔너리 안에서 딕셔너리 사용

In [ ]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}

In [ ]:
terrestrial_planet['Venus']['mean_radius']

6051.8

In [ ]:
dic = {'results': {'common': {'countPerPage': '10',
   'currentPage': '1',
   'errorCode': '0',
   'errorMessage': '정상',
   'totalCount': '1'},
  'juso': [{'admCd': '4215013700',
    'bdKdcd': '0',
    'bdMgtSn': '4215013700100940000017657',
    'bdNm': '경포대',
    'buldMnnm': '365',
    'buldSlno': '0',
    'detBdNmList': '',
    'emdNm': '저동',
    'emdNo': '03',
    'engAddr': '365, Gyeongpo-ro, Gangneung-si, Gangwon-do',
    'jibunAddr': '강원도 강릉시 저동 94 경포대',
    'liNm': '',
    'lnbrMnnm': '94',
    'lnbrSlno': '0',
    'mtYn': '0',
    'rn': '경포로',
    'rnMgtSn': '421503220002',
    'roadAddr': '강원도 강릉시 경포로 365(저동)',
    'roadAddrPart1': '강원도 강릉시 경포로 365',
    'roadAddrPart2': '(저동)',
    'sggNm': '강릉시',
    'siNm': '강원도',
    'udrtYn': '0',
    'zipNo': '25461'}]}}

In [ ]:
dic['results']['juso'][0]['roadAddr']

'강원도 강릉시 경포로 365(저동)'

In [ ]:
 a = {'documents': [{'address': {'address_name': '강원 강릉시 저동 94',
    'b_code': '4215013700',
    'h_code': '4215066500',
    'main_address_no': '94',
    'mountain_yn': 'N',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_h_name': '경포동',
    'region_3depth_name': '저동',
    'sub_address_no': '',
    'x': '128.896538649542',
    'y': '37.7955687639648'},
   'address_name': '강원 강릉시 경포로 365',
   'address_type': 'ROAD_ADDR',
   'road_address': {'address_name': '강원 강릉시 경포로 365',
    'building_name': '경포대',
    'main_building_no': '365',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_name': '저동',
    'road_name': '경포로',
    'sub_building_no': '',
    'underground_yn': 'N',
    'x': '128.896538649542',
    'y': '37.7955687639648',
    'zone_no': '25461'},
   'x': '128.896538649542',
   'y': '37.7955687639648'}],
 'meta': {'is_end': True, 'pageable_count': 1, 'total_count': 1}}

In [ ]:
w = a['documents'][0]['x']
h = a['documents'][0]['y']
w,h

('128.896538649542', '37.7955687639648')

In [ ]:
lat = float(a['documents'][0]['y'])
lng = float(a['documents'][0]['x'])
print(f'위도 : {lat: .6f}, 경도 : {lng: .6f}')

위도 :  37.795569, 경도 :  128.896539