<a href="https://colab.research.google.com/github/7854dmswjd/Python/blob/main/u29%20%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Unit 29. 함수

In [1]:
def hello():
  print('Hello')

In [2]:
hell()

Hello

##29.2 덧셈함수

In [8]:
def add(a,b):

  """
  이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다. #docstring
  """
  
  print(a+b)

In [4]:
add(12,3)

15

In [10]:
# 도움말 호출
add?

## 29.3 결과값 반환

In [11]:
def add(a,b):
  return a+b

In [12]:
add(4,5),add(10,20)

(9, 30)

In [14]:
x = addm(23,45)

In [15]:
def is_ten(x):
  return x == 10

In [17]:
is_ten(3)

False

In [25]:
def not_ten(x):
  if x != 10:
    return
  else:
    print('It is 10.')

In [27]:
def not_ten(x):
  if x != 10:
    return
  print('It is 10.')

In [28]:
not_ten(10)

It is 10.

## 29.4 여러개의 결과값 반환

In [29]:
def add_sub(a,b):
  return a+b, a-b

In [31]:
x, y = add_sub(15,7)

In [32]:
x,y

(22, 8)

##29.5 함수의 호출 과정

In [ ]:
# Stack을 이용한다.

##### 연습 문제 
- 3자리수 정수 두개를 곱해서 나온 결과가 팔린드롬이 되도록 할 때, 가장 큰 숫자는?

In [42]:
def is_palindrome(x):
  s = str(x)
  return s == s[::-1]

In [46]:
max_pal, m, n = 0, 0, 0
for i in range(100,1000):
  for k in range(i,1000):
    if is_palindrome(i*k):
      if i*k > max_pal:
        max_pal = i*k
        m = i
        n = k
print(f'{m}X{n} = {max_pal}')

913X993 = 906609

In [41]:
a =123
b = str(a)
list(b.split())

['123']

In [43]:
is_palindrome(12345)

False



*   항목 추가
*   항목 추가