<a href="https://colab.research.google.com/github/7854dmswjd/Python/blob/main/u30_%EC%9C%84%EC%B9%98%EC%9D%B8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 30. 위치 인수와 키워드 인수

## 30.1 위치 인수

In [40]:
print(10, 20, 30, 40 , sep =', ')

10, 20, 30, 40

In [30]:
def print_numbers(a,b,c):
  print(a)
  print(b)
  print(c)

In [31]:
print_numbers(10,20,30)

10
20
30

In [32]:
# *X - 리스트 / 튜플 언패킹 >> *
x, y = [10,20,30],(40, 50, 60)
print_numbers(*x)
print_numbers(*y)

10
20
30
40
50
60

### 가변 인수 함수

In [33]:
def print_numbers2(*args):
  for arg in args:
    print(arg)

In [34]:
print_numbers2(x,y)

[10, 20, 30]
(40, 50, 60)

### 고정인수와 가변 인수

In [35]:
def print_numbers3(a, *args):
  print(a)
  print(args)

In [36]:
print_numbers3(1, 10, 20)

1
(10, 20)

In [37]:
print_numbers3(*x)

10
(20, 30)

In [38]:
def print_numbers4(*args, a):   # 가변인수가 먼저 나오면 error가 발생한다.
  print(args)
  print(a)

In [39]:
print_numbers4(*x)

TypeError: ignored

###30.2 키워드 인수

In [ ]:
def personal_info(name,age,addr):
  print('이름:',name)
  print('나이:', age)
  print('주소:',addr)

In [ ]:
personal_info('홍길동',30,'서울 강남구 도곡동')

###30.3 키워드 인수와 딕셔너리 언패킹

In [45]:
 x ={'name':'홍길동','age':30,"addr":'서울 강남구 도곡동'}

In [46]:
personal_info(**x)           ## *표 두개!!!!!!!!!!!! *x는 x의 키를 불러냄

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

###가변 키워드 인수

In [ ]:
def personal_info2(**kwargs):
  for key,value in kwargs.items():
    print(f'{key}:{value}')

In [ ]:
personal_info2(**x)

###고정인수와 가변 키워드 인수

In [ ]:
def personal_info3(name, **kwargs):
  print(name)
  print(kwargs)

### 위치 인수와 키워드 인수

In [ ]:
def my_print(*args, **kwargs):
  print(*args, **kwargs)

In [ ]:
my_print(10,20,30,sep =' ')

##30.4 매개변수에 초깃값 지정하기 -> 맨 뒤에 위치해야한다.

In [42]:
def personal_info4(name,age,addr='비공개'):
  print('이름:',name)
  print('나이:', age)
  print('주소:',addr)

In [43]:
personal_info4('홍길동',40)

이름: 홍길동
나이: 40
주소: 비공개

In [47]:
personal_info4(**x)

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

###