<a href="https://colab.research.google.com/github/7854dmswjd/Python/blob/main/u32_%EB%9E%8C%EB%8B%A4%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 32. 람다 함수 - 익명(Anonymous)함수

In [2]:
def plus_ten(x):
  return x+10

In [3]:
plus_ten2 = lambda x : x+10
plus_ten2(5)

15

In [5]:
(lambda x : x+10)(5)

15

In [6]:
list(map(lambda x: int(x)+10, input().split()))

1

[11]

In [8]:
def plus_ten(x):
  return int(x)+10
list(map(plus_ten, input().split()))

1 2 3 4

[11, 12, 13, 14]

###제약사항

In [ ]:
# 람다함수에서 변수를 만들 수 없음
(lambda x : y =10; x+y)(3)

In [9]:
y =10
(lambda x : x+y)(5)

15

In [ ]:
a = 3 ; b = 5; c = a+b # 세미콜론으로 한 줄로!

### 조건부 함수

In [15]:
a = list(range(1,11))
list(map (lambda x : str(x) if x%3==0 else ''m , a))    # 3의 배수를 조건적으로 받아 들일 때

['', '', '3', '', '', '6', '', '', '9', '']

In [ ]:
# 리스트 a에서 3의 배수는 문자열로, 5의 배수는 실수로 변환
list(map(lambda x :str(x) if x%3==0 else float(x) if x%5 == 0 else x, a)) 
#람다 표현식에서 if를 사용했으면, 반드시 else를 사용해야한다.

#### map에 여러개의 객체 넣기

In [17]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
list(map(lambda x ,y : x*y, a, b))

[6, 14, 24, 36, 50]

####filter

In [18]:
a = list(range(1,11))
list(filter(lambda x : 4 <= x <8,a))

[4, 5, 6, 7]