#Unit 12. 딕셔너리(Dictionary)

In [1]:
lux ={
    'health' : 490,  # 체력
    'mana' : 334,    # 마력
  'melee' : 550,     #사거리
  'armor' : 18.72   # 방어력
}
lux

{'armor': 18.72, 'health': 490, 'mana': 334, 'melee': 550}

In [4]:
a = set((1,2,3))
a

{1, 2, 3}

In [5]:
a=['a','b','c']
b = [1,2,3,4]
dict(zip(a,b))

{'a': 1, 'b': 2, 'c': 3}

## 12.2 딕셔너리 키에 접근하고 값 할당하기

In [6]:
lux['mana']

334

In [7]:
#변경
lux['mana'] = 1000
#추가
lux['new'] = 45
lux

{'armor': 18.72, 'health': 490, 'mana': 1000, 'melee': 550, 'new': 45}

In [9]:
'mana' in lux

True

In [11]:
# mana 항목이 존재하면 기존 값 +100, 없으면 값이 50이 되게 만드시오
d={}
c={'mana':150}

if 'mana' in c:
  c['mana'] = c['mana']+100
else:
  c['mana']=50
c

{'mana': 250}

In [14]:
import numpy as np

a = np.arange(24).reshape([3,4,2])
a

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5],
        [ 6,  7]],

       [[ 8,  9],
        [10, 11],
        [12, 13],
        [14, 15]],

       [[16, 17],
        [18, 19],
        [20, 21],
        [22, 23]]])

In [15]:
a[2,3,1]

23