## 8장

In [51]:
a,b,c,d = map(int,input().split())
if a>=90 and b>80 and c>85 and d>=80:
  print(True)
else:
  print(False)

90 84 87 90
True

# 9장

In [ ]:
s="""'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively."""

## 10장

In [ ]:
a = int(input())
print(tuple(range(-10,10,a)))

## 11장

In [14]:
a = str(input())
b = str(input())
a = a[1::2]
b = b[::2]
print(a+b)

python
python
yhnpto

##12장

In [38]:
a = list(map(str,input().split()))
b = list(map(int,input().split()))
dic = {}
for i,j in zip(a,b):
  dic[i] = j
print(dic)

dfd sfwe
13 53
{'dfd': 13, 'sfwe': 53}

## 13장

In [40]:
price = int(input())
coupon = str(input())
if coupon == "Cash3000":
  new_price = price - 3000
else:
  new_price = price - 5000
print(new_price)

27000
Cash3000
24000

## 14장

In [50]:
import numpy as np
a = list(map(int,input().split()))
m_score=np.mean(a)
for i in a:
  if 0<=i<=100:
    pass
  else:
     print("잘못된 점수")
     break
  if m_score>=80:
      print('합격')
  else:
      print("불합격")

300 400 300
잘못된 점수