#Unit 16. for 반복문

##16.1 for과 range

In [ ]:
for i in range(10):
  print("Hello,World!")

Hello,World!
Hello,World!
Hello,World!
Hello,World!
Hello,World!
Hello,World!
Hello,World!
Hello,World!
Hello,World!
Hello,World!

In [2]:
for i in range(10):
  print('Hello',i)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9

In [3]:
for _ in range(3): # 변수를 사용하지 않을 때는 _를 쓰는 것이 관례! 
  print("Hello")

Hello
Hello
Hello

##16.2 for와 range 응용

In [4]:
for i in range(6,10):
  print('Hello',i)

Hello 6
Hello 7
Hello 8
Hello 9

In [5]:
for i in range(6,10,2):
  print('Hello',i)

Hello 6
Hello 8

In [8]:
for i in reversed(range(6,10,2)):
  print('Hello',i)

Hello 8
Hello 6

In [9]:
for i in range(10,0,-2):
  print('Hello,World!',i)

Hello,World! 10
Hello,World! 8
Hello,World! 6
Hello,World! 4
Hello,World! 2

In [14]:
for a in range(1,101):
  print('Fizz'*(a%3==0) + 'Buzz'*(a%5 == 0) or i, end=' ')
  if (a%10 == 0):
      print()

2 2 Fizz 2 Buzz Fizz 2 2 Fizz Buzz
2 Fizz 2 2 FizzBuzz 2 2 Fizz 2 Buzz
Fizz 2 2 Fizz Buzz 2 Fizz 2 2 FizzBuzz
2 2 Fizz 2 Buzz Fizz 2 2 Fizz Buzz
2 Fizz 2 2 FizzBuzz 2 2 Fizz 2 Buzz
Fizz 2 2 Fizz Buzz 2 Fizz 2 2 FizzBuzz
2 2 Fizz 2 Buzz Fizz 2 2 Fizz Buzz
2 Fizz 2 2 FizzBuzz 2 2 Fizz 2 Buzz
Fizz 2 2 Fizz Buzz 2 Fizz 2 2 FizzBuzz
2 2 Fizz 2 Buzz Fizz 2 2 Fizz Buzz

##16.3 시퀀스(Sequence)객체 반복

In [17]:
fruits_list= ['apple','banana','cherry'] # 변수명 list임을 나타내준다.
for fruit in fruits_list: # 단수로 받아와서 의미를 더해준다.
  print(fruit)

apple
banana
cherry

In [19]:
for letter in 'Python':
  print(letter, end = ' ')

P y t h o n

In [20]:
for letter in reversed('Python'):
  print(letter, end = ' ')

n o h t y P

In [21]:
for number in (10,20,30):
  print(number)

10
20
30

### Perfect number
- 자기 자신을 제외한 약수의 합이 자기 자신과 같은 수
- 6의 약수 : 1,2,3,6
- 6 = 1,2,3
- 10000이하의 자연수 중에서는 4개

In [37]:
for i in range(2,10001):
  sum_of_num = 0
  for k in range(1,i):
    if i % k == 0:
      sum_of_num += k
  if sum_of_num == i:
    print(i)

6
28
496
8128